{% extends "front/base.html.twig" %}

{% block main %}

	<h1>Les produits qui correspondent à votre recherche sont :</h1>

	{% for product in products %}

		<h2>{{ product.name }}</h2>

	{% endfor %}

{% endblock %}
