{% extends "front/base.html.twig" %}

{% block main %}

	<h2>{{ type.name }}</h2>
	<h3>{{type.description}}</h3>

	{% for product in type.products %}
		<h4>{{product.name}}</h4>
	{% endfor %}

{% endblock %}
